@media screen and (max-width: 1024px) {
  .section:not(.visible) {
    display: none;
  }
  .section-header {
    display: none;
  }
}

.section:not(.visible) {
  background-color: map-get($colors, grey);
  color: white;
  cursor: pointer;
  width: 8rem;
  text-align: center;
  &:hover {
    background-color: map-get($colors, purple);
  }
  position: relative;
  .section-header {
    top: 3rem;
    width: 8rem;
    position: fixed;
  }
}

.section-items .main-body {
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.software-image-container {
  display: flex;
  gap: 1rem;
  img {
    display: block;
    flex: 1;
  }
}
