@media screen and (max-width: 1024px) {
  .section:not(.visible) {
    display: none;
  }
  .section-header {
    display: none;
  }
}

.section:not(.visible) {
  background-color: map-get($colors, grey);
  color: white;
  cursor: pointer;
  width: 10rem;
  text-align: center;
  background-color: map-get($colors, black);
  position: sticky;
  top: 0;
  height: 100vh;
  .section-image {
    position: relative;
    top: 1.5rem;
    img {
      width: 55px;
    }
  }
  .section-header {
    top: 75%;
    width: 100%;
    transform: rotate(90deg);
    position: relative;
    h2 {
      text-transform: uppercase;
      letter-spacing: 2.5px;
    }
  }
}

.section-items .main-body {
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.software-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  img {
    display: block;
  }
  @media screen and(min-width:1024px) {
    display: flex;
  }
}
