.primary-button {
  border-radius: 50px;
  font-size: 20px;
  background-color: $black-color;
  display: flex;
  align-items: center;
  text-align: center;
  color: $white-color;
  width: fit-content;
  padding: 0.85rem 1.35rem;
  border: none;
  transition: all 300ms ease-in-out;
  gap: 1rem;
  img {
    filter: invert(1);
  }
  &:hover {
    background-color: $purple-color;
  }
}

.secondary-btn {
  border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  border-color: #8118f2;
  align-items: center;
  text-align: center;
  color: #8118f2;
  padding: 0.85rem 1.35rem;
  transition: all 300ms ease-in-out;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    background-color: $purple-color;
    color: $white-color;
  }
}

.social-btn {
  display: block;
  height: 82px;
  width: 82px;
  border-radius: 50%;
}

.hamburger-btn {
  text-align: right;
  cursor: pointer;
  margin-left: auto;
  font-size: 2rem;
}
