.footer {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 2rem 0;
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .socials {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }
}
