html {
  @include useMontserrat();
}
body {
  min-height: 100vh;
  color: $black-color;
}
main {
  padding: 0 28px;
  @media screen and (min-width: 1024px) {
    padding: 0;
    overflow: visible;
    height: 100%;
  }
}
main,
header {
}

main {
}
.project-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 150px;
}

.project-title {
  margin: 0;
  @include useMontserrat(45px);
  @media screen and (min-width: 1024px) {
    line-height: 30px;
  }
}
.project-description {
  line-height: 28px;
  @include useMontserrat(16px, 400);
}
.project-info-container {
  display: flex;
  gap: 1rem;

  @media screen and (min-width: 1024px) {
    flex-direction: column;
  }
  .description-container {
    display: flex;
    flex-direction: column;
    .description-title {
      @include useMontserrat(14px);
      margin-bottom: 0.25rem;

      color: $grey-color;
    }
    .description-value {
      @include useMontserrat(20px, 400);
    }
  }
}

.project-intro-header {
  .project-info-container {
    margin-top: 1rem;
  }
  @media screen and (min-width: 1024px) {
    .project-title {
      font-size: 10rem;
      line-height: 180px;
    }
    .main-links {
      align-self: flex-end;
      width: 50%;
      .project-info-container {
        display: flex;
        flex-direction: column;
      }
      a.primary-button {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
}

.carousel-container {
  position: relative;

  button.carousel-arrow-right {
    position: absolute;
    right: 1rem;
    top: 30%;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
    background: white;
    opacity: 0.8;
  }
  .carousel {
    max-width: 100%;
    overflow-x: scroll;
    white-space: nowrap;

    .carousel-item {
      display: inline-block;
      margin-right: 28px;
      width: 75%;
      @media screen and (min-width: 1024px) {
        width: 25%;
      }
    }
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
}

.main {
  .section {
    .section-image {
      @include hideElement();
    }
    .section-items {
      .project-container {
        .project-title {
          margin-top: 1rem;
        }
      }
      a.primary-button {
        margin-left: auto;
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    .section {
      transition: all 400ms;
    }

    .section {
      .section-image {
        @include showElement();
      }
      .section-header {
        h2 {
          margin: 0;
        }
        @include showElement();
      }
      .section-items {
        @include hideElement();

        .project-container {
          display: flex;
          flex-direction: row;
          gap: 2.5rem;
          .image-container {
            flex: 1;
            img {
              width: 100%;
              display: block;
            }
          }

          .project-details {
            width: 45%;
            display: flex;
            flex-direction: column;
          }

          a.primary-button {
            margin-top: auto;
            align-self: flex-start;
            margin-left: unset;
          }
        }
        /** For ODD **/
        .project-container:nth-child(odd) {
          .project-details {
            order: 1;
          }
          .image-container {
            order: 2;
          }
          text-align: right;
          .project-info-container {
            align-self: flex-end;
          }
          .description-container {
            align-self: flex-end;
          }
          .primary-button {
            align-self: flex-end;
          }
        }
      }
    }

    .section.visible {
      flex: 1;
      .section-image {
        @include hideElement();
      }
      .section-header {
        @include hideElement();
      }
      .section-items {
        @include showElement();
        padding: 28px 28px 0 28px;
        animation: 800ms slide;
        animation-fill-mode: forwards;
        height: 100%;
        .header {
          position: sticky;
          top: 1.5rem;
          z-index: 9999;
        }
      }
    }
  }
}

header.header-project-title {
  padding: 1rem $project-title-padding;
}

section.project-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@keyframes slide {
  0% {
    opacity: 0;
    width: 0;
  }
  1% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

.sticky-back-btn {
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
  width: 5rem;
  text-align: center;
  color: $white-color;
  background-color: $grey-color;
}
