html {
  @include useMontserrat();
}
body {
  min-height: 100vh;
}
main {
  overflow-x: hidden;
}
main,
header {
  padding: 0 28px;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 40px;
}

.project-title {
  margin: 0;
  @include useMontserrat(52px);
  line-height: 63.39px;
}
.project-description {
  line-height: 28px;
  @include useMontserrat(16px, 400);
}
.project-info-container {
  display: flex;
  gap: 1rem;
  .description-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .description-title {
      @include useMontserrat(18px);
      color: $grey-color;
    }
    .description-value {
      @include useMontserrat(24px);
    }
  }
}

.project-intro-header {
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 3rem;
    .project-title {
      font-size: 10rem;
      line-height: 180px;
    }
    .main-title {
      width: 40%;
    }
    .main-links {
      align-self: flex-end;
      width: 50%;
      .project-info-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
      }
      a.primary-button {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
}
.carousel {
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  .carousel-item {
    display: inline-block;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  main.project-item-main {
    padding: 0 $project-title-padding;
  }
  .main {
    display: flex;

    .section {
      .section-header {
        h2 {
          margin: 0;
        }
        @include showElement();
      }
      .section-items {
        @include hideElement();

        .project-container {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          .image-container {
            flex: 1;
            img {
              width: 100%;
            }
          }

          .project-details {
            width: 45%;
            display: flex;
            flex-direction: column;
          }

          a.primary-button {
            display: block;
            margin-top: auto;
            align-self: flex-start;
          }
        }
        /** For ODD **/
        :nth-child(odd).project-container {
          .project-details {
            order: 1;
          }
          .image-container {
            order: 2;
          }
          text-align: right;
          .project-info-container {
            align-self: flex-end;
          }
          .description-container {
            align-self: flex-end;
          }
          .primary-button {
            align-self: flex-end;
          }
        }
      }
      transition: all 700ms ease-in-out;
    }

    .section.visible {
      flex: 1;
      .section-header {
        @include hideElement();
      }
      .section-items {
        @include showElement();
        h2 {
          margin: 0;
        }
        animation: 500ms slide;
        animation-fill-mode: forwards;
      }
    }
  }
}

header.header-project-title {
  padding: 0 $project-title-padding;
}
section.project-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@keyframes slide {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
