@mixin useMontserrat($fontSize: 1rem, $fontWeight: 500) {
  font-family: "Montserrat", sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin hideElement() {
  visibility: hidden;
  width: 0;
  height: 0;
}

@mixin showElement() {
  visibility: visible;
  width: auto;
  height: auto;
}
